VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_PROGRAM_ID=7jbdwJLrePo6dr6Jo5sSmK4RQC5tYRrGebnkMFTuPGq5
VITE_BACKEND_URL=http://localhost:8080
VITE_CLUSTER=devnet
VITE_USDC_MINT=ELWTKspHKCnCfCiCiqYw1EDH77k8VCP74dK9qytG2Ujh