VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_PROGRAM_ID=HzpESYneBKXMp4qDAqMzM6GKq2yDciY5TaogT5hM1PeQ
VITE_BACKEND_URL=http://localhost:8080
VITE_CLUSTER=devnet
VITE_USDC_MINT=ELWTKspHKCnCfCiCiqYw1EDH77k8VCP74dK9qytG2Ujh