VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_PROGRAM_ID=B39Vk22T2VPpqBEbGkW51BzFC6sNeeiQQ1mqwdvCJ2H4
VITE_BACKEND_URL=http://localhost:8080
VITE_CLUSTER=devnet
VITE_USDT_MINT=ELWTKspHKCnCfCiCiqYw1EDH77k8VCP74dK9qytG2Ujh